###> symfony/framework-bundle ###
APP_ENV=prod
APP_SECRET=your_app_secret_here
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://revision_user:your_password@127.0.0.1:3307/revision_reseaux?serverVersion=8.0&charset=utf8mb4"
###< doctrine/doctrine-bundle ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='^https?://(yourdomain\.com|localhost)(:[0-9]+)?$'
###< nelmio/cors-bundle ###

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=your_jwt_passphrase
###< lexik/jwt-authentication-bundle ###

JWT_TOKEN_TTL=86400
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

###> symfony/mailer ###
MAILER_DSN=smtps://user:password@smtp.example.com:465
MAILER_FROM=contact@yourdomain.com
###< symfony/mailer ###
